@import "./settings.css";
@import "./base.css";

/* Navbar */

.nav-main {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
}

.nav-section {
    align-items: center;
    display: flex;
    gap: 3em;
}

.nav-link-list {
    display: flex;
    gap: 2em;
    list-style: none;
    padding: 0;
}

.nav-link {
    color: var( --main-secondary );
    cursor: pointer;
    font-family: 'Title';
    font-size: 1.05rem;
    font-weight: 400;
    position: relative;
}

.nav-link:hover {
    color: var( --main-secondary );
}

.nav-link:hover .nav-subMenu {
    display: flex;
}

.nav-link-container {
    display: flex;
    gap: .4em;
}

.nav-arrow-icon {
    color: var( --main-secondary );
    width: .5rem;
}

.nav-subMenu {
    display: none;
    padding-top: .65em;
    position: absolute;
}

.nav-subMenu-list {
    background-color: var( --main-primary );
    border-radius: 4px;
    color: var( --white );
    display: flex;
    flex-direction: column;
    font-size: .95rem;
    gap: .75em;
    list-style: none;
    padding: 1em;
}

.nav-subMenu:after {
    border-bottom: 12px solid var( --main-primary );
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 18px;
    top: 3px;
    width: 0;
}

.nav-subMenu-link:hover {
    color: var( --light-grey );
}

.nav-icons-list {
    align-items: center;
    display: flex;
    gap: 3em; 
    list-style: none;
}

.nav-searchbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-input-searchbar {
    border-radius: 100px;
    border: 2px solid var( --main-secondary );
    outline: none;
    padding-left: .85em;
    padding: .5em;
    transition: .3s ease-in-out;
    width: 200px;
}

.nav-input-searchbar:focus {
    transition: .3s ease-in-out;
    width: 275px;
}

.nav-search-button {
    background-color: transparent;
    border: none;
    bottom: 2px;
    position: absolute;
    right: 4px;
}

.nav-cart-container {
    margin-top: .35em;
    position: relative;
}

.nav-cart-alert {
    background-color: var( --main-primary);
    border-radius: 50%;
    height: .65rem;
    position: absolute;
    right: -6px;
    top: -4px;
    width: .65rem;
}

.nav-icons-section {
    align-items: center;
    display: flex;
}

.nav-buttons-icon {
    color: var( --main-secondary );
    cursor: pointer;
    width: 1.25rem;
}

.nav-user-container {
    position: relative;
}

.user-icon {
    margin-top: .25em;
    width: 1.05rem;
}

.nav-subMenu-user {
    display: none;
    font-family: 'Title';
    font-weight: 400;
    padding-top: .75em;
    position: absolute;
    right: -20px;
    width: 150px;
}

.nav-subMenu-user:after {
    border-bottom: 12px solid var( --main-primary );
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 17px;
    top: 5px;
    width: 0;
}

.nav-user-container:hover .nav-subMenu-user {
    display: flex;
}

.nav-bars-section {
    align-items: center;
    display: none;
}

.bars-icon {
    cursor: pointer;
    width: 1.25rem;
}

@media screen and ( max-width: 970px ) {

    .nav-bars-section {
        display: flex;
    }

    .nav-icons-section {
        display: none;
    }

    .nav-links-section {
        display: none;
    }
}

/* Navbar */

/* Nav Cart */

.nav-cart {
    background-color: var( --white );
    border-left: 1px solid var( --main-secondary );
    height: 100vh;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: .2s ease-in-out;
    width: 0px;
}

.nav-cart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav-cart-section {
    padding: .75em;
}

.nav-cart-title {
    font-size: 1.25rem;
}

.nav-cart-cards-section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 1em;
}

.nav-cart-card {
    display: flex;
    height: 122px;
    position: relative;
}

.nav-cart-card-title {
    font-size: .85rem;
}

.nav-cart-card-price {
    color: var( --main-primary );
    margin: 1em 0;
}

.nav-cart-card-img-container {
    align-content: center;
    background-color: var( --light-grey );
    border-radius: 8px;
    display: flex;
    height: 106px;
    justify-content: center;
    padding: .5em;
    width: 150px;
}

.nav-cart-card-img-anchor {
    align-content: center;
    display: flex;
}

.nav-cart-card-img {
    object-fit: cover;
    width: 50px;
}

.nav-cart-card-section {
    margin-left: 1em;
}

.nav-cart-card-icon {
    width: 1rem;
}

.nav-cart-card-input {
    padding: .25em;
    width: 40px;
}

.nav-cart-card-button {
    background-color: transparent;
    border: none;
    bottom: 2px;
    color: var( --main-secondary );
    cursor: pointer;
    position: absolute;
    right: 6px;
}

.nav-cart-info-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.nav-cart-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-cart-info-title {
    color: var( --medium-grey );
    font-size: .85rem;
    margin: 0;
}

.nav-cart-info-price {
    color: var( --main-secondary);
    font-size: .85rem;
    font-weight: 400;
    margin: 0;
}

.nav-cart-info-full-price {
    color: var( --main-secondary );
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.nav-cart-button {
    background-color: var( --main-primary );
    border-radius: 4px;
    border: none;
    color: var( --white );
    cursor: pointer;
    font-family: 'Title';
    font-size: 1rem;
    font-weight: 600;
    height: 30px;
    text-transform: uppercase;
}

.nav-cart-close-button {
    align-items: center;
    background-color: var( --white );
    border: none;
    color: red;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 10px;
    width: 35px;
}

.nav-cart-close-icon {
    margin-left: 3px;
    width: 1rem;
}

/* Nav Cart */

/* Main Carousel */

.main-carousel {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    position: relative;
}

.main-carousel:hover .main-carousel-button {
    display: block;
}

.main-carousel-container {
    display: flex;
}

.main-carousel-slide {
    min-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-carousel-image {
    width: 100%;
    object-fit: cover;
}

.slide-info {
    position: absolute;
    z-index: 5;
}

.slide-info-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 55px;
    text-align: center;
}

.slide-title-1 {
    color: var( --white );
}

.slide-title-1 span {
    color: var( --white );
}

.slide-button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: .5em;
    margin-top: 1em;
}

.slide-explore-icon {
    width: 8px;
}

.main-carousel-button {
    position: absolute;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, .2);
    padding: 0em 1em;
    z-index: 5;
    cursor: pointer;
    display: none;
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}

.main-carousel-button-icon {
    width: 16px;
    color: var(--white);

}

/* Main Carousel */