body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Text';
}

h1 {
    font-family: 'Title';
    font-size: 2.5rem;
    margin: 0;
    color: var( --main-primary );
}

h2 {
    font-family: 'Title';
    font-size: 2rem;
    margin: 0;
    color: var( --main-primary );
}

h3 {
    font-family: 'Title';
    font-size: 1.5rem;
    margin: 0;
    color: var( --main-primary );
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.logo {
    align-items: center;
    display: flex;
    gap: .5em;
}

.logo-text {
    font-family: 'Lobster';
    font-size: 2.25rem;
    margin: 0;
}

.logo-icon {
    width: 1.75rem;
}

.section {
    padding: 3.5em 0;
}

.section-title {
    text-align: center;
    margin-bottom: 1.25em;
}

.btnPrimary {
    background-color: var( --main-primary );
    border: none;
    width: 125px;
    height: 30px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    color: var( --white );
    cursor: pointer;
    font-family: 'Title';
    transition: .2s ease-in-out;
}

.btnPrimary:hover {
    background: white;
    color: var( --main-primary );
    border: 2px solid var( --main-primary );
    transition: .2s ease-in-out;
}

.btnSecondary {
    background-color: var( --main-white );
    color: var( --dark-grey );
    border: none;
    width: 125px;
    height: 30px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var( --dark-grey );
    font-family: 'Title';
    transition: .2s ease-in-out;
}

.btnSecondary:hover {
    color: var( --main-primary );
    border-color: var( --main-primary );
    transition: .2s ease-in-out ;
}

.btnGradientOrange {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: 
        linear-gradient(to right, 
        #FF512F 0%, 
        #F09819  51%, 
        #FF512F  100%
        );
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Title';
 }

 .btnGradientOrange:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }

 .btnGradientPurple {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: 
        linear-gradient(
            to right,
            #DA22FF 0%,
            #9733EE 51%,
            #DA22FF 100%
        );
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    display: block;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Title';
 }

 .btnGradientPurple:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }

.button-icon {
    width: 8px;
}

.gradient-1 {
    background: #ccc;
    background: 
        linear-gradient(to right, 
        #FF512F 0%, 
        #F09819  100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-2 {
    background: #ccc;
    background: linear-gradient(
        90deg, #8225C5, #F30487
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-3 {
    background: #ccc;
    background: linear-gradient(
        90deg, var( --main-third ), #06D6DB
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.title-border-orange {
    width: 100px;
    height: 5px;
    background: linear-gradient(
        90deg, var( --main-secondary ), #F2A342
    );
    margin-bottom: 3px;
}

.title-border-purple {
    width: 100px;
    height: 5px;
    background: linear-gradient(
        90deg, #8225C5, #F30487
    );
    margin-bottom: 3px;
}

.title-border-blue {
    width: 100px;
    height: 5px;
    background: linear-gradient(
        90deg, var( --main-third ), #06D6DB
    );
    margin-bottom: 3px;
}

@keyframes spin {
    0% {
        transform: rotate( 0deg );
    }

    100% {
        transform: rotate( 360deg );
    }
}

.spinner{
    border: 4px solid white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border-left-color: #F09819;
    animation: spin .5s linear infinite;
}