/* Colors */

:root {
    --main-primary: #000;
    --main-secondary: #FF512F;
    --main-third: #2783F1;
    --main-fourth: #9733EE;

    --dark-grey: #737373;
    --medium-grey: #a0a0a0;
    --light-grey: #f0f0f0;

    --white: #fff;
    --black: #171717;
    --green: #31D086;
}

/* Colors */

/* Fonts Family */

@font-face {
    font-family: 'Lobster';
    src: url("../../assets/fonts/Lobster/Lobster-Regular.ttf");
}
@font-face {
    font-family: 'Title';
    src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Title';
    src: url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Text';
    src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'Text';
    src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Text';
    src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: 600;
}

/* Fonts Family */