.dashboard-home {
    width: 85%;
    margin: 0 auto;
}

.dashboard-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5em;
}

.dashboard-image-container {
    display: flex;
    align-items: center;
    gap: .5em ;
}

.dashboard-user-name {
    font-weight: 600;
}

.dashboard-user-icon {
    width: 22px;
}

.dashboard-cards-section {
    margin-top: 2em;
}

.dashboard-cards-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-card-1 {
    background-image: 
        linear-gradient(140deg, 
        #FF512F 0%, 
        #F09819 90%
        );
    width: 275px;
    border-radius: 6px;
    padding: 1em;
    color: white;
}

.dashboard-card-2 {
    background: 
        linear-gradient(
            140deg,
            #9733EE 51%,
            #DA22FF 100%
        );
    width: 275px;
    border-radius: 6px;
    padding: 1em;
    color: white;
}

.dashboard-card-3 {
    background: linear-gradient(
        140deg, var( --main-third ), #06D6DB
    );
    width: 275px;
    border-radius: 6px;
    padding: 1em;
    color: white;
    height: 153px;
}

.dashboard-card-3:hover .dashboard-card-icon {
    transform: scale(1.1);
    transition: .2s ease-in-out transform;
}

.dashboard-card-2:hover .dashboard-card-icon {
    transform: scale(1.1);
    transition: .2s ease-in-out transform;
}

.dashboard-card-1:hover .dashboard-card-icon {
    transform: scale(1.1);
    transition: .2s ease-in-out transform;
}

.dashboard-card-title {
    color: white;
    font-size: 1rem;
    margin: .5em 0;
}

.dashboard-card-data {
    color: var( --white );
}

.dashboard-card-icon {
    width: 48px;
    transition: .2s ease-in-out transform;  
}

.dashboard-card-3-title {
    margin-top: 1.5em;
}

.dashboard-table-section {
    margin-top: 3.5em;
}

.dashboard-table-title {
    margin-bottom: 1em;
}

.dashboard-table {
    width: 100%;
    border-spacing: 0;
}

.dashboard-table-header {
    background-color: var( --main-primary );
    color: white;
    height: 50px;
    border-radius: 4px;
}

.dashboard-table-header th:first-child{
    border-radius: 4px 0 0 4px;
}

.dashboard-table-header th:last-child{
    border-radius: 0 4px 4px 0;
}

.dashboard-table-body td:first-child{
    border-radius: 12px 0 0 12px;
}

.dashboard-table-body td:last-child{
    border-radius: 0 12px 12px 0;
}

.dashboard-table-orders-col {
    width: 125px;
    text-align: left;
    padding-left: 1.5em;
}

.dashboard-table-quantity-col {
    width: 100px;
    
}

.dashboard-table-date-col {
    width: 125px;
}

.dashboard-table-price-col {
    width: 100px;
    padding-right: 1.5em;
}

.dashboard-table-product-col {
    width: 450px;
    text-align: left;
    padding-left: 1.5em;
}

.dashboard-state-info-section {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    font-size: .85rem;
    margin-bottom: 2em;
}

.dashboard-orders-section {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-top: 1.25em;
}

.dashboard-table-body {
    height: 50px;
    text-align: center;
}


.dashboard-state-info {
    display: flex;
    align-items: center;
    gap: .35em;
    color: var(--medium-grey);
}

.dashboard-table-ellipsis-icon {
    width: 10px;
    color: var(--dark-grey);
    cursor: pointer;
}

.dashboard-table-state-delivered {
    width: 10px;
    height: 10px;
    background-color: var(--green);
    border-radius: 50%;
}

.dashboard-table-state-pending {
    width: 10px;
    height: 10px;
    background-color: var(--main-secondary);
    border-radius: 50%;
}

.dashboard-table-orders-cell {
    text-align: left;
    padding-left: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
}

.table-status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1.15em;
}

.dashboard-table-row {
    height: 50px;
}

.dashboard-table-row:hover {
    background-color: var( --light-grey );
}

.dashboard-see-all {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    font-size: .85rem;
}

.dashboard-see-all:hover {
    text-decoration: underline;
}

.pub-table-image {
    height: 65px;
}

.pub-product-cell {
    display: flex;
    align-items: center;
    padding: .5em;
}

.dashboard-table-icon {
    width: 8px;
    color: var( --medium-grey );
    cursor: pointer;
}

.pub-table-product-title {
    margin-left: 1em;
}

.dashboard-pub-create-new {
    font-size: .85rem;
    height: 40px;
    width: 175px;
}

.dashboard-table-on {
    width: 70px;
    background-color: var(--green);
    border: none;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-family: 'Title';
    cursor: pointer;
}

.dashboard-table-off {
    width: 70px;
    background-color: red;
    border: none;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-family: 'Title';
    cursor: pointer;
}

.dashboard-table-actions {
    position: relative;
}

.dashboard-actions-menu {
    display: flex;
    flex-direction: column;
    gap: .75em;
    width: 75px;
    padding: .5em;
    border-radius: 4px;
    position: absolute;
    top: 60px;
    font-size: .85rem;
    background-color: white;
    box-shadow:
    0 0px 0.5px rgba(0, 0, 0, 0.014),
    0 0px 1.1px rgba(0, 0, 0, 0.02),
    0 0px 2.1px rgba(0, 0, 0, 0.025),
    0 0px 3.8px rgba(0, 0, 0, 0.03),
    0 0px 7.1px rgba(0, 0, 0, 0.036),
    0 0px 17px rgba(0, 0, 0, 0.05)
  ;
    display: none;
    z-index: 5;
}

.dashboard-delete-pub {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: .85rem;
    font-family: 'Text';
    margin-top: 1em;
}

.delete-modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    left: 0;
}

.dashboard-question-pending-section {
    display: flex;
    align-items: center;
    gap: .25em;
    margin-bottom: 1em;
}

.dashboard-question-pending-section p {
    font-size: .85rem;
}

.dashboard-question-product {
    display: flex;
    gap: 1em;
    position: relative;
    box-shadow:
    0 0px 2.9px rgba(0, 0, 0, 0.011),
    0 0px 7px rgba(0, 0, 0, 0.016),
    0 0px 13.1px rgba(0, 0, 0, 0.02),
    0 0px 23.5px rgba(0, 0, 0, 0.024),
    0 0px 43.9px rgba(0, 0, 0, 0.029),
    0 0px 105px rgba(0, 0, 0, 0.04)
    ;
    border-radius: 4px;
    padding: .75em;
    transition: .2s ease-in-out;
}

.dashboard-question-product:hover {
    box-shadow:
    0 0px 2.9px rgba(0, 0, 0, 0.025),
    0 0px 7px rgba(0, 0, 0, 0.036),
    0 0px 13.1px rgba(0, 0, 0, 0.045),
    0 0px 23.5px rgba(0, 0, 0, 0.054),
    0 0px 43.9px rgba(0, 0, 0, 0.065),
    0 0px 105px rgba(0, 0, 0, 0.09)
    ;
    transition: .2s ease-in-out;
}

.dashboard-question-product-img {
    height: 80px;
}

.dashboard-question-product-title {
    font-weight: 600;
}

.question-section {
    margin: 3em 0;
}

.question-pending {
    position: absolute;
    right: 10px;
    top: 10px;
}

.dashboard-question-product-section {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}

.dashboard-questions-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.dashboard-question-answer {
    width: 93%;
    resize: none;
    padding-bottom: .25em;
    border: none;
    border-bottom: 1px solid var( --light-grey );
    outline: none;
    font-size: 1rem;
}

.dashboard-question-label {
    position: relative;
}

.dashboard-question-submit-button {
    position: absolute;
    right: -35px;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow:
    0 0px 2.9px rgba(0, 0, 0, 0.025),
    0 0px 7px rgba(0, 0, 0, 0.036),
    0 0px 13.1px rgba(0, 0, 0, 0.045),
    0 0px 23.5px rgba(0, 0, 0, 0.054),
    0 0px 43.9px rgba(0, 0, 0, 0.065),
    0 0px 105px rgba(0, 0, 0, 0.09)
    ;
    cursor: pointer;
}

.dashboard-create-pub-desc {
    width: 575px;
    height: 115px;
    padding: .75em;
    resize: none;
    font-family: 'Text';
    outline: none;
    border: none;
    background-color: var(--light-grey );
}

.dashboard-submit-button-icon {
    width: 10px;
    margin-left: .15em;
    margin-top: .15em;
}

.dashboard-pub-img-container {
    display: flex;
    gap: 3.25em;
}

.dashboard-create-pub-input-img {
    display: none;
}

.dashboard-create-pub-img {
    width: 160px;
    height: 160px;
    border: 1px solid var(--medium-grey );
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.dashboard-create-pub-checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dashboard-checkbox-label {
    font-size: .85rem;
}

.dashboard-create-pub-checkbox {
    display: flex;
    align-items: center;
}

.signup-button-container-dashboard {
    margin-top: 1.25em;
    justify-content: center;
    display: flex;
}

.create-pub-form-button {
    width: 300px;
}