/* Product Row */

.product-section {
    display: flex;
    justify-content: center;
    margin: 3em auto;
    width: 90%;
    max-width: 1440px;
    gap: 3em;
}

.product-img-section {
    display: flex;
    flex-direction: column; 
}

.product-main-img-container {
    width: 425px;
    height: 425px;
    border: 1px solid var( --medium-grey );
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.product-main-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-imgs-section {
    display: flex;
    justify-content: space-between;
}

.product-img-small-container {
    width: 125px;
    height: 125px;
    border: 1px solid var( --medium-grey );
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.product-info-section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-width: 600px;
}

.product-info-seller {
    font-size: .75rem;
    color: var( --medium-grey );
}

.product-info-details-title {
    font-size: 1.25rem;
}

.product-info-details {
    margin: 1em 0;
    margin-top: .5em;
    font-size: 1rem;
    line-height: 1.45em;
}

.product-info-input-section {
    display: flex;
    flex-direction: column;
}

.product-info-input {
    width: 50px;
    padding: .5em;
}

.product-info-quantity {
    display: flex;
    align-items: center;
    gap: .75em;
    margin-bottom: 1.25em;
}

.product-info-button-section {
    display: flex;
    gap: 2em;
    margin-top: 1em;
}

.product-info-button {
    height: 50px;
    width: 225px;
    font-size: 1rem;
}

.product-info-features-section {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 150px;
}

.product-info-features {
    background-color: var( --green );
    color: white;
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: .85rem;
    border-radius: 4px;
    padding: .25em .5em;
}

.product-info-features-icon {
    width: 14px;
}

.product-info-color {
    display: flex;
    align-items: center;
    gap: .5em;
}

.product-info-color-black {
    width: 1.25rem;
    height: 1.25rem;
    background: #000;
    border-radius: 50%;
}

/* Product Row */

/* Questions Section */

.questions-section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 70%;
    max-width: 1440px;
    margin: 4em auto;
}

.questions-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.question-textarea {
    resize: none;
    height: 100px;
    color: black;
    padding: .75em;
    font-size: 1rem;
    font-family: 'Text';
    border-radius: 4px;
}

.question-button {
    height: 50px;
    font-size: 1rem;
    width: 150px;
    margin-bottom: 1.25em;
}

.question-card {
    box-shadow:
    0 0px 0.4px rgba(0, 0, 0, 0.02),
    0 0px 1px rgba(0, 0, 0, 0.028),
    0 0px 1.9px rgba(0, 0, 0, 0.035),
    0 0px 3.4px rgba(0, 0, 0, 0.042),
    0 0px 6.3px rgba(0, 0, 0, 0.05),
    0 0px 15px rgba(0, 0, 0, 0.07);
    transition: .2s ease-in-out;
    padding: 1em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.question-card:hover {
    box-shadow:
    0 0px 0.4px rgba(0, 0, 0, 0.031),
    0 0px 1px rgba(0, 0, 0, 0.044),
    0 0px 1.9px rgba(0, 0, 0, 0.055),
    0 0px 3.4px rgba(0, 0, 0, 0.066),
    0 0px 6.3px rgba(0, 0, 0, 0.079),
    0 0px 15px rgba(0, 0, 0, 0.11)
    ;
    transition: .2s ease-in-out;
}

.question-card-date {
    font-size: .75rem;
    color: var( --medium-grey );
}

.question-card-button-section {
    display: flex;
    gap: .75em;
}

.question-card-edit-button,
.question-card-delete-button {
    border: none;
    background: none;
    padding: 0;
    color: var( --main-third );
    cursor: pointer;
}

.question-card-edit-button:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.question-card-delete-button:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}


/* Questions Section */